
.gameB{
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.gameB2{
    text-align: center;
}

table{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

tr{
    text-align: center;
}

.gameTitle{
    font-size: 50px;
}

iframe{
    text-align: center;
    width: 80%;
    height: 500px;
}

img{
    height: 500px;
}



