.textBold{
    font-size: 20px;
    font-weight: bold;
}

.textItalic{
    font-size: 16px;
    font-style: italic;
    padding-left: 200px;
}

.textWhite{
    color: white;
}


.textBlue{
    color: rgba(212, 21, 230, 0.87);
}